@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  overflow-x: hidden;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #101010;
}

.navbar .logo {
  margin-left: 50px;
}

.reset input {
  color: black;
}

.navbar .logo img {
  width: 8rem;
  object-fit: cover;
}

.list-items {
  margin-right: 60px;
}

.list-items .unauthorized-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items .unauthorized-list .links {
  margin: 0 10px;
}

.Tilted-button {
  background: linear-gradient(
    143deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(104, 9, 121, 1) 29%,
    rgba(70, 0, 255, 1) 63%,
    rgba(160, 0, 255, 1) 76%,
    rgba(70, 0, 255, 1) 93%
  );
  background-size: 400% 400%;
  padding: 10px 50px;
  border-radius: 20px;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  animation: buttonanim ease infinite 5s;
  transition: all 0.5s;
  transform: perspective(5000px) rotateY(30deg) rotateX(30deg);
  /* var(--rotateY) */
  /* var(--rotateX) */
}

.invert {
  transform: perspective(5000px) rotateY(-30deg) rotateX(-30deg);
}

.Tilted-button:hover {
  animation: buttonanim ease infinite 2s;
  transform: scale(1.1);
}

@keyframes buttonanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Sign-in-button,
.Sign-up-button {
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.Sign-in-button {
  color: white;
  background: rgb(0, 106, 255);
  transition: all ease 0.5s;
}

.Sign-in-button:hover {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
}

.Sign-up-button {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
}

.Sign-up-button:hover {
  color: white;
  background: rgb(0, 106, 255);
}

.list-items .authorized-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items .authorized-list .links {
  margin: 0 10px;
}

.list-items .authorized-list .links button {
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
}

.list-items .authorized-list .links button:hover {
  color: white;
  background: rgb(0, 106, 255);
}

.list-items .authorized-list button {
  color: white;
  background: rgb(0, 106, 255);
  transition: all ease 0.5s;
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.list-items .authorized-list button:hover {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
}

.login-page-container {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(120deg, #000000, #000000);
  background-size: 400% 400%;
  animation: buttonAnimation infinite ease 3s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-card {
  background: transparent;
  width: 55vh;
  height: 55vh;
  border-radius: 20px;
  box-shadow: inset 0px 0px 100px 250px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.login-heading {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  z-index: 2;
}

::placeholder {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.login-input {
  height: 60px;
  width: 350px;
  margin-top: 50px;
}

.login-input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.underline {
  width: 100%;
  background: linear-gradient(120deg, #e66465, #9198e5);
  background-size: 200% 200%;
  animation: buttonAnimation infinite ease 3s;
  height: 4px;
  border-radius: 20px;
}

.input input:focus-visible {
  border: none;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.login-button {
  background-image: linear-gradient(120deg, #e66465, #9198e5);
  background-size: 100% 100%;
  width: 200px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all ease 0.5s;
  cursor: pointer;
}

.login-button:hover {
  animation: buttonAnimation infinite ease 3s;
  background-size: 200% 200%;
  transform: scale(1.2);
}

@keyframes buttonAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.NotFound {
  color: white;
}

.Register-button {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
  padding: 15px 125px;
  border-radius: 12px;
  margin: 20px 0;
  margin-bottom: 40px;
  cursor: pointer;
}

.Register-button:hover {
  color: white;
  background: rgb(0, 106, 255);
}

input::file-selector-button {
  font-weight: bold;
  border-radius: 25px;
  color: white;
  background-color: gray;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.icon {
  cursor: pointer;
  margin-right: 15px;
}

.RegisterPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.RegisterPage .RegisterForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.RegisterPage .RegisterForm form div {
  width: 280px;
  margin: 20px 0;
  border: 2px solid #fff;
  border-radius: 5px;
}

.RegisterPage .RegisterForm form input {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  transition: all ease 1s;
}

.file-input {
  width: 285px;
  height: 50px;
  margin: 20px 0;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: all ease 0.3s;
}

.file-input:hover {
  border: 3px solid rgb(0, 106, 255);
}

.file-input .btn {
  height: 100%;
  width: 100%;
  background: transparent;
  border-radius: 30px;
}

.google-button-wrapper {
  display: flex;
  justify-content: center;
}

.name-already-taken {
  color: red;
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  animation: shake 1s;
}

.hidden {
  display: none;
}

.name-available {
  color: lime;
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  animation: popup 1s;
}

@keyframes shake {
  0% {
    margin: 0;
  }
  25% {
    margin-right: 25px;
  }
  50% {
    margin-left: 25px;
  }
  75% {
    margin-right: 25px;
  }
  100% {
    margin: 0;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    font-size: 1px;
  }
  100% {
    font-size: 15px;
    opacity: 1;
  }
}

.edit-btn,
.message-btn {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
  padding: 15px 40px;
  border-radius: 12px;
  cursor: pointer;
}

.edit-btn:hover,
.message-btn:hover {
  color: white;
  background: rgb(0, 106, 255);
}

.verified-icon {
  width: 50px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.profile-pic img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.username-container {
  margin-left: 30px;
}

.username-container h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.username-container p {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.middle-container {
  text-align: center;
}

.middle-container h3 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.middle-container p {
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

.right-container {
  margin-right: 70px;
}
.CreatePost {
  height: 100vh;
}

.HomePage {
  background-color: #111111;
}

/* .post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* Make a card for indivisual post on home page */
.search {
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.MyAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.name-input,
.email-input,
.fullName-input,
.bio-input {
  width: 280px;
  margin: 20px 0;
  border: 2px solid #fff;
  border-radius: 5px;
}

.name-input input,
.email-input input,
.fullName-input input,
.bio-input input {
  width: 100%;
  height: 30%;
  padding: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.name-input input:disabled,
.email-input input:disabled,
.fullName-input input:disabled,
.bio-input input:disabled {
  color: white;
  cursor: pointer;
}

.MyAccount form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MyAccount form img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.forgot-password {
  margin: 20px 0;
}

.post-headings {
  text-align: center;
  margin: 30px 0px;
  margin-left: 90px;
  font-weight: bold;
  font-family: poppins;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  width: 80%;
  margin: 40px 0;
  border-radius: 40px;
  padding: 40px 20px;
}

.posts .left-post-container {
  margin-left: 40px;
}

.posts .left-post-container img {
  width: 200px;
  height: 150px;
  border-radius: 30px;
}

.posts .middle-post-container h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-size: 25px;
}

.posts .middle-post-container p {
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
}

.posts .right-post-container {
  margin-right: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background: rgba(0, 0, 0, 0.22);
}

.header h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: poppins;
  margin-left: 50px;
}

.header .search {
  margin-right: 50px;
  width: 280px;
  margin: 20px 80px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.header .search input {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  transition: all ease 1s;
}

.pt {
  margin-top: 350px;
}

.message-btn {
  margin-right: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

a {
  text-decoration: none;
  color: white;
  font-family: "poppoins", sans-serif;
}

.loading-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.GoogleLogin {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 10px;
}

.GoogleLogin p {
  margin-bottom: 10px;
}
