@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #101010;
}

.navbar .logo {
  margin-left: 50px;
}

.navbar .logo img {
  width: 8rem;
  object-fit: cover;
}

.list-items {
  margin-right: 60px;
}

.list-items .unauthorized-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items .unauthorized-list .links {
  margin: 0 10px;
}

.Sign-in-button,
.Sign-up-button {
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.Sign-in-button {
  color: white;
  background: rgb(0, 106, 255);
  transition: all ease 0.5s;
}

.Sign-in-button:hover {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
}

.Sign-up-button {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
}

.Sign-up-button:hover {
  color: white;
  background: rgb(0, 106, 255);
}

.list-items .authorized-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items .authorized-list .links {
  margin: 0 10px;
}

.list-items .authorized-list .links button {
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
}

.list-items .authorized-list .links button:hover {
  color: white;
  background: rgb(0, 106, 255);
}

.list-items .authorized-list button {
  color: white;
  background: rgb(0, 106, 255);
  transition: all ease 0.5s;
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.list-items .authorized-list button:hover {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
}

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.LoginPage form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginPage form div {
  width: 240px;
  margin: 20px 0;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 5px;
}

.LoginPage form div input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

:focus-visible {
  border: none;
}

::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}

.password-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.password-input input {
  width: 80%;
}

.login-btn {
  background: transparent;
  border: 1px solid rgb(0, 106, 255);
  color: white;
  transition: all ease 0.5s;
  padding: 15px 125px;
  border-radius: 12px;
  margin: 20px 0;
  margin-bottom: 40px;
}

.login-btn:hover {
  color: white;
  background: rgb(0, 106, 255);
}

.icon {
  cursor: pointer;
}
